.addAccount {
    display: flex;

    .homeContainer {
        flex: 6;

        .formContainer {

            display: flex;
            flex-direction: row;
            width: auto;
            height: auto;
            margin: 30px 30px 30px 30px;
            background: #ffffff;
            border-radius: 4px;
            box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);

            .image-item {
                display: flex;
                margin: 10px 0;
            }

            .account-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 300px;
            }

        }

    }
}

.add-image {
    width: 520px;
    height: auto;
    min-height: 100%;
    position: relative;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.add-account-heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.upload__image-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}

.account-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}