.login--option {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 10px;
  
}